[Unit]
Description=Spinnaker Gate
After=network.target

[Service]
Type=simple
GuessMainPID=yes
Environment=logfile=/var/log/spinnaker/gate/gate.log
ExecStartPre=/usr/bin/touch /etc/default/spinnaker
ExecStartPre=/bin/bash -c '. /etc/default/spinnaker'
ExecStart=/opt/gate/bin/gate 2>&1 ${logfile} &
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal+console
WorkingDirectory=/opt/gate

[Install]
WantedBy=multi-user.target
